@model jclitenet.Models.AlbumModel
@{
    ViewBag.Title = "Edit " + @Model.Name + " Album";
}

@Content.Script("jquery.lightbox-0.5.min.js", Url)
<link href="@Url.Content("~/Content/jquery.lightbox-0.5.css")" rel="stylesheet" type="text/css" />

<div class="content-toolbar">
    <a>Add New</a>
</div>

<div id="gallery">
    <ul>
        @{
            foreach (var photo in @Model.Photos)
            {
            <li>
                <a title="@photo.Name" href="../../../content/photos/@Model.UID.ToString()/@photo.FileName">
                    <img width="100" height="100" alt="" src="../../../Content/photos/@Model.UID.ToString()/@photo.FileName">
                </a>
            </li>
            }
        }
    </ul>
</div>

<script type="text/javascript">
    $(function () {
        $('#gallery a').lightBox({
            imageLoading: '../../../content/images/lightbox/lightbox-ico-loading.gif',
            imageBtnPrev: '../../../content/images/lightbox-btn-prev.gif',
            imageBtnNext: '../../../content/images/lightbox/lightbox-btn-next.gif',
            imageBtnClose: '../../../content/images/lightbox/lightbox-btn-close.gif',
            imageBlank: '../../../content/images/lightbox/lightbox-blank.gif'
        });
    });
</script>
