@model jclitenet.Models.GamesModel
@{
    ViewBag.Title = "Edit " + @Model.Name;
}

@using (Html.BeginForm("Edit", "Game"))
{ 
     <div class="text-spacer">
        @Html.ValidationMessageFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { placeholder = "Name" })
    </div>
    
    <div class="text-spacer">
        @Html.ValidationMessageFor(m => m.HtmlContent)
        @Html.TextAreaFor(m => m.HtmlContent, new { id = "htmlContentId", placeholder = "Html Content", @class = "syntax-textarea" })
    </div>
    
    @Html.HiddenFor(m => m.ID)
    
    <div class="text-spacer">
        <input type="submit" value="Save" />
    </div>
}